


<h3>
    Welcome to Use NG-IDF (Next-Generation Intensity-Duration-Frequency) Tool!
</h3>

 <img src="./static/web.png" alt="" width="800" height="600" style="float: right; margin-right: 120px;">






<p>
   <b> User Instructions: </b> <br/>
   1. Input the values in the boxes based on your local site characteristics (location within the Continental United States [CONUS]) <br/>
   2. Click "Submit" and this NG-IDF tool will automatically generate: <br/>
   &nbsp;&nbsp;&nbsp;&nbsp;a. Standard precipitation-based IDF (PREC-IDF) curves without considering snow processes and the 90% confidence interval (CI) <br/>
   &nbsp;&nbsp;&nbsp;&nbsp;b. NG-IDF curves with considering snow processes and the 90% CI <br/>
</p>



<br/>





<form method="post">



  <table>
    <tr>
      <td align="left">Latitude (decimal degree, e.g., 34.251):</td>
      <td align="left"><input type="text" name="Value1" /></td>
    </tr>
    <tr>
      <td align="left">Longitude (decimal degree, e.g., -120.452):</td>
      <td align="left"><input type="text" name="Value2" /></td>
    </tr>
    <tr>
      <td align="left">Leaf Area Index (LAI, put 0 for open land):</td>
      <td align="left"><input type="text" name="Value3" /></td>
    </tr>
    <tr>
      <td align="left">Canopy Height (m, put 0 for open land):</td>
      <td align="left"><input type="text" name="Value4" /></td>
    </tr>
    <tr>
      <td align="left">Land Cover Fraction (0-1):</td>
      <td align="left"><input type="text" name="Value5" /></td>
    </tr>
    <tr>
      <td align="left">Land Cover Type (select from the following list: 1-9):</td>
      <td align="left"><input type="text" name="Value6" /></td>
    </tr>


  </table>

  <p>
  	1-Open  <br/>
  	2-Evergreen Forest <br/>
  	3-Deciduous Forest <br/>
  	4-Mixed Forest <br/>
  	5-Crop <br/>
  	6-Grassland <br/>
  	7-Shrub <br/>
  	8-Pasture <br/>
  	9-Wetland <br/>
  </p> 






  <br/><br/>



  <!-- click button for advanced setting  -->
  <script type="text/javascript">
		function myfunction()
		{
		    if (document.getElementById("displaytable").style.display === "none")
		        document.getElementById("displaytable").style.display="block";
		    else
		        document.getElementById("displaytable").style.display="none";
		}
	</script>


<input type="button" value="Advanced Setting (Optional)" onclick='myfunction();'>
<div id="displaytable" style="display:none">
	<p>
		To users: we recommend to use the following default 4 DHSVM parameters for your calculation. We keep it optional for users who are familiar with snow modeling and have different local information. <br/>

  
  <br/>
  <table>
    <tr>
      <td align="left">Rain LAI Multiplier (0.0003-0.0012):</td>
      <td align="left"><input type="text" name="Value7" value="0.001"/></td>
    </tr>
    <tr>
      <td align="left">Snow LAI Multiplier (0.00035-0.007):</td>
      <td align="left"><input type="text" name="Value8" value="0.005"/></td>
    </tr>
    <tr>
      <td align="left">Max Snow Interception Capacity (m):</td>
      <td align="left"><input type="text" name="Value9" value="0.02"/></td>
    </tr>
    <tr>
      <td align="left">Snow Interception Efficiency (0.2-0.9):</td>
      <td align="left"><input type="text" name="Value10" value="0.6"/></td>
    </tr>
  </table> 
</div>














  <br/><br/>


  <button type="submit">Submit</button>
</form>


  <br/><br/>




<p style="font-size:13px">
 <b>Methods used in this NG-IDF Tool:</b> <br/> 
 Meteorological forcing: Livneh daily CONUS near-surface gridded meteorological from 1950-2013 at 6-km grid cell  <br/> 
 Snow model: Calibrated DHSVM snow model (Sun et al., 2019)  <br/> 
 Monthly changes of LAI: MODIS LAI products  <br/> 
 IDF frequency analysis: L-moments (Yan et al., 2018)  <br/> 
 IDF uncertainty analysis: Monte Carlo ensemble (Yan et al., 2020)  <br/> <br/> 
</p>


<p style="font-size:13px">
 <b>NG-IDF related references:</b> <br/> 
11. Yan, H., Sun, N., Wigmosta, M., Duan, Z., Gutmann, E., Kruyt, B., and Arnold, J. (2023). "The role of snowmelt temporal pattern in flood estimation for a small snow-dominated basin in the Sierra Nevada." Water Resources Research, 59(10), e2023WR034496. https://doi.org/10.1029/2023WR034496 <br/> 
10. Sun, N., Yan, H., Wigmosta, M., Coleman, A., Leung, R., and Hou, Z. (2022). “Datasets for characterizing extreme events relevant to hydrologic design over the conterminous United States.” Scientific Data, 9, 154. https://doi.org/10.1038/s41597-022-01221-9 <br/> 
09. Sun, N., Yan, H., Wigmosta, M., Lundquist, J., Dickerson-Lange, S., and Zhou, T. (2022). “Forest canopy density effects on snowpack across the climate gradients of the western United States mountain ranges.” Water Resources Research, 58(1), e2020WR029194. https://doi.org/10.1029/2020WR029194 <br/> 
08. Yan, H., Sun, N., Chen, X., and Wigmosta, M. (2020). “Next-generation intensity-duration-frequency curves for climate-resilient infrastructure design: Advances and opportunities.” Frontiers in Water, 2, 545051. https://doi.org/10.3389/frwa.2020.545051 <br/> 
07. Yan, H., Sun, N., Wigmosta, M., Leung, R., Hou, Z., Coleman, A., and Skaggs, R. (2020). “Evaluating next-generation intensity-duration-frequency curves for design flood estimates in the snow-dominated western United States.” Hydrological Processes, 34(5), 1255–1268. https://doi.org/10.1002/hyp.13673 <br/> 
06. Hou, Z., Ren, H., Sun, N., Wigmosta, M., Liu, Y., Leung, R., Yan, H., Skaggs, R., and Coleman, A. (2019). “Incorporating climate non-stationarity and snowmelt processes in intensity-duration-frequency analyses with case studies in mountainous areas.” Journal of Hydrometeorology, 20(12), 2331–2346. https://doi.org/10.1175/JHM-D-19-0055.1 <br/> 
05. Sun, N., Yan, H., Wigmosta, M., Leung, R., Skaggs, R., and Hou, Z. (2019). “Regional snow parameters estimation for large-domain hydrological applications in the western United States.” Journal of Geophysical Research: Atmospheres, 124(10), 5296–5313. https://doi.org/10.1029/2018JD030140  <br/> 
04. Yan, H., Sun, N., Wigmosta, M., Skaggs, R., Hou, Z., and Leung, R. (2019). “Next-generation intensity-duration-frequency curves to reduce errors in peak flood design.” Journal of Hydrologic Engineering, 24(7), 04019020. https://doi.org/10.1061/(ASCE)HE.1943-5584.0001799  <br/> 
03. Yan, H., Sun, N., Wigmosta, M., Skaggs, R., Leung, R., Coleman, A., and Hou, Z. (2019). “Observed spatiotemporal changes in the mechanisms of extreme water available for runoff in the western United States.” Geophysical Research Letters, 46(2), 767–775. https://doi.org/10.1029/2018GL080260 <br/> 
02. Sun, N., Wigmosta, M., Zhou, T., Lundquist, J., Dickerson‐Lange, S., and Cristea, N. (2018). "Evaluating the functionality and streamflow impacts of explicitly modelling forest–snow interactions and canopy gaps in a distributed hydrologic model." Hydrological Processes, 32(13), 2128-2140. https://doi.org/10.1002/hyp.13150 <br/> 
01. Yan, H., Sun, N., Wigmosta, M., Skaggs, R., Hou, Z., and Leung, R. (2018). “Next-generation intensity-duration-frequency curves for hydrologic design in snow-dominated environments.” Water Resources Research, 54(2), 1093–1108. https://doi.org/10.1002/2017WR021290 <br/> 
</p>


